You are playing a text adventure game. I will describe what you can perceive in the game. You write the action you want to take in the game starting with >.
For example:
> examine cupboard

Your goal for this game is: $GOAL$

